/* font family includes */
@font-face {
	src: url(../fonts/Poppins-Medium.ttf);
	font-family: "Poppins-Medium";
}

@font-face {
	src: url(../fonts/Poppins-SemiBold.ttf);
	font-family: "Poppins-SemiBold";
}

@font-face {
	src: url(../fonts/Poppins-Bold.ttf);
	font-family: "Poppins-Bold";
}

@font-face {
	src: url(../fonts/Poppins-Regular.ttf);
	font-family: "Poppins-Regular";
}
@font-face {
	src: url(../fonts/Poppins-Light.ttf);
	font-family: "Poppins-Light";
}

@font-face {
	src: url(../fonts/TomatoGrotesk-Regular.otf);
	font-family: "TomatoGrotesk-Regular";
}

@font-face {
	src: url(../fonts/TomatoGrotesk-Bold.otf);
	font-family: "TomatoGrotesk-Bold";
}

@font-face {
	src: url(../fonts/TomatoGrotesk-Light.otf);
	font-family: "TomatoGrotesk-Light";
}
@font-face {
	src: url(../fonts/TomatoGrotesk-Black.otf);
	font-family: "TomatoGrotesk-Black";
}
@font-face {
	src: url(../fonts/TomatoGrotesk-SemiBold.otf);
	font-family: "TomatoGrotesk-SemiBold";
}
@font-face {
	src: url(../fonts/TomatoGrotesk-Medium.otf);
	font-family: "TomatoGrotesk-Medium";
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	overflow: hidden;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-y: auto;
}

:root {
	--bluetype-background-color: #0f7ba1;
	--heading-color: #292929;
	--heading1-color: #fbfcfd;
	--bold-font-family: "TomatoGrotesk-Bold";
	--medium-font-family: "TomatoGrotesk-Medium";
	--regular-font-family: "TomatoGrotesk-Regular";
	--light-font-family: "TomatoGrotesk-Light";
	--semibold-font-family: "TomatoGrotesk-SemiBold";
}
h1 {
	font-family: var(--bold-font-family);
	font-size: clamp(90px, 5vw, 136px) !important;
	line-height: 1.2;
	color: var(--heading-color);
}

h2 {
	font-family: var(--regular-font-family);
	font-size: clamp(25px, 5vw, 40px);
	line-height: 1.2;
	color: var(--heading-color);
}
h3 {
	font-family: var(--bold-font-family);
	font-size: clamp(25px, 5vw, 50px);
	line-height: 1.2;
	color: var(--heading-color);
}

h4 {
	font-family: var(--regular-font-family);
	font-size: clamp(20px, 5vw, 35px);
	line-height: 1.2;
	color: var(--heading-color);
}

h5 {
	font-family: var(--medium-font-family);
	font-size: clamp(20px, 5vw, 35px);
	line-height: 1.2;
	color: var(--heading-color);
}

h6 {
	font-family: var(--semibold-font-family);
	font-size: clamp(18px, 5vw, 30px);
	line-height: 1.2;
}
.span {
	font-family: var(--medium-font-family);
	line-height: 1.2;
}
p {
	font-family: var(--regular-font-family);
	font-size: clamp(12px, 5vw, 15px);
	line-height: 1.2;
}
.btn {
	background: var(--bluetype-background-color);
	color: #ffffff !important;
	border-radius: 20px;
	width: 22%;
	text-align: center;
	padding: 7px 0;
	font-family: var(--medium-font-family);
	font-size: 16px;
}
a {
	cursor: pointer;
	text-decoration: none !important;
}
.btn-check:focus + .btn,
.btn:focus {
	outline: 0;
	box-shadow: none;
}

:focus-visible {
	outline: none;
}
li {
	list-style: none;
}
ul {
	padding: 0;
}
